<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
 <session-factory>
 <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
 <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
 <property name="hibernate.connection.username">root</property>
 <property name="hibernate.connection.password">1234</property>
 <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/totalcinemapointdb</property>
 <property name="show_sql">true</property>
 <property name="format_sql">false</property>
 <mapping class="progettoPSSS.totalCinemaPoint.server.DAO.ClienteDAO"/>
 <mapping class="progettoPSSS.totalCinemaPoint.server.DAO.FilmDAO"/>  
 <mapping class="progettoPSSS.totalCinemaPoint.server.DAO.SpettacoloDAO"/> 
 <mapping class="progettoPSSS.totalCinemaPoint.server.DAO.PrenotazioneDAO"/> 
 <mapping class="progettoPSSS.totalCinemaPoint.server.DAO.SalaDAO"/>
 <mapping class="progettoPSSS.totalCinemaPoint.server.DAO.PostoDAO"/>
 <mapping class="progettoPSSS.totalCinemaPoint.server.DAO.PostoPrenotatoDAO"/>  
 <mapping class="progettoPSSS.totalCinemaPoint.server.DAO.PagamentoDAO"/>  
 </session-factory>
</hibernate-configuration>

<!-- NEL CASO INSERIRE CONNECTION POOL -->